body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: ;
}

::selection {
  background: #ffebee; 
}

::-moz-selection {
  background: #ffebee; 
}

nav ul a {
  color: #ffffff;
}
nav {
    height: 50px;
    line-height: 50px;
    background-color: #ad1457;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}
.name {
  opacity: 0;
}
.name.trans {
  transition: 1s ease-in;
  opacity: 1;
}
.cursor {
  opacity: 1;
}
.cursor.trans {
  opacity: 0;
}

.attribute {
  opacity: 0;
}

img {
  height: 400px;
  width: 70%;
}
